// head {
@import "../../../../css/std/-/less/main.less";

@__nodeId__: ~"ewma_callCenter__main_calls";
// }

.@{__nodeId__} {

    > .create_button {
        cursor: pointer;
        float: left;
        margin: 10px 0;
        color: #B0B0B0;

        &.hover {
            text-decoration: underline;
            color: #000;
        }
    }

    > .call {
        margin: 10px 0;
    }
}
